@model YTVidoes.Core.YoutubeChannel

@if (Model != null)
{

    var channelName = Model.Title;
    <section class="py-1">
        <div class="container mt-1">
            <h6 class="mt-4">@Model.TotalVideos Videos Found For : <i>@channelName</i></h6>
            <div class="py-3 d-md-flex justify-content-md-end">
                <button id="btnDownloadVideosCSV" class="btn btn-outline-primary btn-lg rounded-0" 
                        onclick="downloadVideosCSV('@Url.Action("DownloadChannelFile", new {url=@Model.Url})')">Download As CSV</button>
            </div>

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var v in Model.Videos)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@v.ImageUrl" alt="...">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@v.Title</h5>
                                    <p class="text-truncate text-truncate--2">
                                        @v.Descriptions
                                    </p>
                                    <p class="info"><span><i class="bi bi-eye"></i> @v.ViewCount </span>
                                        <span><i class="bi bi-hand-thumbs-up"></i> @v.LikeCount</span>
                                        <span><i class="bi bi-chat"></i> @v.CommentCount</span></p>
                                    @if (@v.PostedDate.HasValue)
                                    {
                                        <p>Posted on : @v.PostedDate.ToString()</p>
                                    }
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="javascript:void(0)" onclick="playVideo('@v.VideoUrl', '@v.Title');return" false;">
                                        Play
                                    </a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <p>No videos found.</p>
            <div class="text-danger">
                @Html.ValidationSummary(false)
            </div>
        </div>
    </section>
}